{
  box-sizing:border-box;
}

.navigation{
  float:right;
  margin-top: 50px;
  margin-right: 100px;
  font-family: "Cormorant", serif;
}


/*font-family: "Cormorant Light", Garamond, sans-serif;*/

.nav{
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
}

h1{
  font-family: "Cormorant", serif;
  font-size: 30px;
  margin-top: 50px;
  margin-left: 100px;
  display: inline-block;
  font-weight: lighter;
}

h2{
    font-weight: lighter;
    font-size: 20px;
}

.ul{
    margin-top: 80px;
    padding-left: 0px;
    font-family: "Cormorant", serif;
    text-align: center;
}

.content{
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.thumb1{
  width:250px;
  height:350px;
  overflow: hidden;
  margin-bottom: 40px;
}

.thumb2{
  width:250px;
  height:350px;
  overflow: hidden;
  margin-bottom: 40px;
}

.thumb3{
  width:250px;
  height:350px;
  overflow: hidden;
  margin-bottom: 40px;
}
