{
  box-sizing:border-box;
}

/*ul navigation bar*/
.navigation{
  float:right;
  margin-top: 50px;
  margin-right: 100px;
  font-family: "Cormorant", serif;
}

/*home, about, contact*/
.nav{
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: lighter;
}

/*thumbnails startscreen hochformat*/
.thumb1{
  width:250px;
  height:350px;
  overflow: hidden;
  margin-bottom: 40px;
}

/*Maria Emilie Bürger*/
h1{
  font-family: "Cormorant", serif;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 100px;
  display: inline-block;
  font-weight: lighter;
}

/*Abstrakt, Gegenständlich, Portrait*/
h2{
    font-weight: lighter;
    font-size: 15px;
}

.ul{
    margin-top: 100px;
    padding-left: 0px;
    font-family: "Cormorant", serif;
    text-align: center;
}

/*list item einzelne Bilder*/
.content{
  display: inline-block;
  margin: 50px;
  text-align: center;
}

.thumb{
  width:300px;
  height:300px;
  overflow: hidden;
  text-align: center;
}

.querzentriert {
  left: 50%;
  margin-left: -100%;
  position: relative;
  width: auto;
  height: 300px;
}
